#html_blog {
  background: url(../images/adventure_background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:10000px;
}

#html_aboutme {
  background: url(../images/nut.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:10000px;
}

body{
  margin-top:50px;
  padding:50px;
}

h4 {
  padding-top:10px;
}

.header {
  text-align:left;
  color: white;
  background-color: #ABA9C3;
  margin-top:auto;
  margin-bottom:auto;
  padding:10px;
}

.center {
  margin-top: auto;
  margin-bottom: auto;
}

.nav_item {
  text-style:bold;
  color: #7A8450;
  text-align:right;
}

.timeline {
  border-top: 10pt solid #ABA9C3;
}

.quote {
  text-align:left;
  color: #7A8450;
  font-style: italic;
  font-size: 9pt;
}
